<?xml version="1.0"?>
<model>
  <name>iris lidar</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Riswan</name>
   <email>riswanmp6@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a rplidar.
  </description>
</model>
