<?xml version='1.0'?>
<model>
  <name>Mecanum lift</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Rafi Abdullah</name>
    <email>rafi@openrobotics.org</email>
  </author>

  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>

  <description>
    Scissor lift using mecanum wheels.
    The scissor part does not move.
  </description>
</model>

